# SPDX-FileContributor: Carsten Lemmen <carsten.lemmen@hereon.de>
# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2024 Helmholtz-Zentrum hereon GmbH

ErrorLogFile
LogFile
.RData
.Rhistory
node_modules
out/area_0.05_3000_9800.mat
out/avg_rgr_all.mat
out/glmres_RGRS_RGRS.mat
out/glmres_RGRS_RGRS_area.mat
out/glmres_area_area.mat
out/pca_0.mat
out/target_ts_0.mat
